name: "CI"

# This is an example of a CI workflow that builds the project on all desktop platforms

on:
  workflow_dispatch:
  pull_request:
  push:

jobs:
  build:
    name: "Build"
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform: [windows-latest, macos-latest, ubuntu-latest]
        # platform: [windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true

    - name: apt install xorg-dev  libglfw3-dev (ubuntu only)
      if: ${{ matrix.platform == 'ubuntu-latest' }}
      run: sudo apt-get update && sudo apt-get install -y xorg-dev  libglfw3-dev zlib1g-dev pkg-config

    - name: Build Desktop App
      run: |
        mkdir build 
        cd build
        cmake .. -DCMAKE_BUILD_TYPE=Release -DHELLOIMGUI_DOWNLOAD_FREETYPE_IF_NEEDED=ON
        cmake --build . --config Release
        cd ..

    # - name: Build Emscripten App
    #   if: ${{ matrix.platform != 'windows-latest' }}
    #   shell: bash
    #   run: |
    #     ./external/hello_imgui/hello_imgui/tools/emscripten/install_emscripten.sh
    #     mkdir build_ems
    #     cd build_ems
    #     source ~/emsdk/emsdk_env.sh
    #     emcmake cmake .. -DCMAKE_BUILD_TYPE=Release
    #     make -j 4